{% extends 'core/layout.html' %}

{% block title %}Homepage{% endblock %}

{% block category_menu %}
{% include 'core/menu_generator.html' %}
{% endblock %}

{% block nav_home %}
<li class="nav-item active">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        {% if pic_list_col1 %}
    {% for pic in pic_list_col1 %}
        <a href="{% url 'core:category' pic.category.name %}">
            <div>
                <img src="{{ pic.image.url }}" class="mx-auto d-block img-fluid">
                <p class="lead text-center" style="font-size:1.2em;">{{ pic.title }}</p>
            </div>
        </a>
    {% endfor %}
        {% endif %}

    </div>
    <div class="col">
        {% if pic_list_col2 %}
    {% for pic in pic_list_col2 %}
     <a href="{% url 'core:category' pic.category.name %}">
            <div>
                <img src="{{ pic.image.url }}" class="mx-auto d-block img-fluid">
                <p class="lead text-center" style="font-size:1.2em;">{{ pic.title }}</p>
            </div>
        </a>
    {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
